//COLORS
$transparent: transparent;
$white: #fff;
$black: #333;
$green: #4cd137;
$red: #e84118;

/*
* FONT VARIABLES
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$font-size:                       12px;
$font-color:                      $green;
$font-family:                     "Montserrat", sans-serrif;
$font-weight-bolder:              700;
$font-weight-bold:                600;
$font-weight-normal:              500;
$font-weight-thin:                400;



$game-width: 100vw;
$game-height: 100vh;


